/*.pc
*.o
*.lo
/config.mak
/src/include/s6-rc/config.h
/*.a.xyzzy
/*.so.xyzzy
/s6-rc-compile
/s6-rc-dryrun
/s6-rc-db
/s6-rc-bundle
/s6-rc-init
/s6-rc
/s6-rc-update
/s6-rc-fdholder-filler
/s6-rc-oneshot-run
/s6-rc-format-upgrade
/s6-rc-repo-init
/s6-rc-repo-populate
/s6-rc-set-new
